<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="{{ STATIC_URL }}d3.min.js"></script>
    <title>Dite egocentric</title>
</head>
<body>
<link href='{{ STATIC_URL }}primary.css' rel='stylesheet' type='text/css' />
<div class=grLayout_header id="top_bar"> <h1>Hello World!</h1> </div>
<div class=grLayout_main id="main_box"></div>
<div class=grLayout_footer id="footer_bar">The variable passed to me is {{ myvar }}.</div>


<script>
    var data = {{ data|safe }};
    var textData = {{ textData|safe }};
    var pois = {{ pois|safe }};

    var width = 600,
        height = 800;

    var zoom = d3.behavior.zoom()
        .scaleExtent([0.1, 10])
        .on("zoom", zoomed);

    function zoomed() {
      container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    }

    var svg = d3.select("#main_box").append("svg")
        .attr("class", "grLayout_svg")
        .attr("width", "100%")
        .attr("height", "100%")
        .call(zoom)
        .append("g"); // group - any transformations will be applied to all child elements

    var rect = svg.append("rect")
        .attr("width", "100%")
        .attr("height", "100%")
        .style("fill", "none")
        .style("pointer-events", "all");

    var bbox = rect.node().getBBox();

    var container = svg.append("g");

    var divSelection = d3.select("#footer_bar");
    var svgSelection = divSelection.append("svg")
        .attr("width", 100)
        .attr("height", 100);

    svgSelection.selectAll("circl")
        .data(data)
        .enter().append("circle")
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("r", 5)
            .transition()
            .attr("r", 25);

    var projection = d3.geo.albers()
            .center([1.9, 51.3])
            .rotate([4.4, 0])
            .scale([6000])
            .translate([bbox.width/2, bbox.height/2]);
    var path = d3.geo.path().projection(projection);

    var tt_max = 240.0;
//    for (var i = 0; i < pois.length; i++) {
//        tt_min = Math.min(tt_min, Math.min(pois[i].properties.travel_time));
//        tt_max = Math.max(tt_max, Math.max(pois[i].properties.travel_time));
//    }

    var pnt = d3.geo.path().projection(projection).pointRadius(1.0);
    var pntColour = d3.scale.linear()
            .domain([0.0, tt_max])
            .range(["#0000FF", "#FF0000"]);

    paths = container.append("g")
            .selectAll("points")
            .data(pois)
            .enter()
            .append("path")
            .attr("d", function(d) { return pnt(d.geometry); })
            .attr("stroke", "none")
            .style("fill", function (d) { return pntColour(d.properties.travel_time) })
            .attr("opacity", 0.1)
                .transition()
                .delay(500)
                .duration(2500)
                .each("start", function() { d3.select(this).attr("opacity", 0.1); })
                .attr("opacity", 0.75);


    d3.json("{{ STATIC_URL }}subunits.json", function(json) {
        var paths = container.append("g")
            .selectAll("path")
            .data(json.features)
            .enter()
            .append("path")
            .attr("d", path)
            .attr("fill", "none")
            .attr("stroke", "black");
    });


</script>
</body>
</html>